@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.img-filter {
  filter: opacity(0.5) drop-shadow(0 0 0 white);
}

.active {
  color: hsl(229, 31%, 21%);
}

.active::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  background-color: hsl(0, 94%, 66%);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.card {
  background-image: url("../public/images/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: bottom 120px center;
  background-size: 100%;
}

.img-active {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(36%) sepia(14%) saturate(2918%) hue-rotate(313deg) brightness(130%) contrast(96%);
}